*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: #202124;
  height: 95vh;
  justify-items: center;
  align-content: center;
}
.card{
    background:linear-gradient(135deg,#8A2387,#E94057,#F27121);
    width: 180vh;
    margin-top: 5vh;
    border-radius: 10px;
}
nav{
    justify-content: center;
    justify-items: center;
}
.search input{
    width: 50vh;
    border: 0ch;
    height: 6vh;
    border-radius: 20px;
    text-align: center;
    font-size: medium;
    margin-top: 5vh;
    background-color: #EBFDFB;
}

.search button{
         height: 6vh;
         width: 6vh;
         background-color: #EBFDFB;
         border-radius: 60px;
         border: 0ch;
         font-size: 3vh;
         margin-left: 1vh;
}

.weth{
    text-align: center;
}
h1{
    text-align: center;
    color: #EBFDFB;
    font-size: 10vh;
}
h2{
    text-align: center;
    color: #EBFDFB;
    font-size: 7vh;
}
.wind{
    display: flex;
    padding-left: 20vh;
}
.wind img{
    height: 6vh;
}
.wind .speed{
    color: #EBFDFB;
    text-align: center;
    margin-left: 1vh;

}
.speed h3{
    font-size: 4.5vh;
}
.speed p{
    font-size: 2.8vh;
}
.last{
    display: flex;
}
.humidity img{
    height: 6vh;
}
.humidity{
    display: flex;
    padding-right: 20vh;
}
.speed1 h3{
    font-size: 4.5vh;
    color: #EBFDFB;
}
.speed1 p{
    font-size: 3.5vh;
    color: #EBFDFB;
}
.speed1{
    margin-left: 2vh;
}
.hero1 {
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.hero2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.tempmax{
    color: white;
    font-size: 4vh;
    text-align: center;
}
.tempmin{
    color: white;
    font-size: 4vh;
    text-align: center;
}
.hero3{
    position: relative;
    left: 2vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3vh;
    text-align: center;
    align-items: center;
    color: white;
}
.cn{
    font-size: 6vh;
    font-weight: 900;
}

.coun{
    font-size: 5vh;
}

.np{
    font-size: 4vh;
   
}
.pn{
    font-size: 4vh;
}
.fl{
    font-size: 4vh;
}
.feelslike .p {
    font-size:4vh;
}
.copyr{
    font-size: 2vh;
    text-align: center;
    color: white;
    margin-top: 3vh;
    padding-bottom: 5vh;
}

@media(max-width:600px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
      
      background-color:#202124;
      height: 60vh ;
      justify-content: center;
      align-content: center;
    }
    .card{
        background:linear-gradient(135deg,#8A2387,#E94057,#F27121);
        height: 90vh;
        width: 100%;
        margin-top: 4.5vh;
    }
    nav{
        justify-content: center;
    justify-items: normal;
    }
    .search input{
        margin-left: 5vh;
        width: 30vh;
        border: 0ch;
        height: 5vh;
        border-radius: 20px;
        text-align: center;
        font-size: medium;
        margin-top: 7vh;
        background-color: #EBFDFB;
    }
    
    .search button{
             height: 5vh;
             width: 5vh;
             background-color: #EBFDFB;
             border-radius: 60px;
             border: 0ch;
             font-size: 3vh;
             margin-left: 1vh;
    }
    
    .weth{
        text-align: center;
    }
    h1{
        text-align: center;
        color: #EBFDFB;
        font-size: 10vh;
    }
    h2{
        text-align: center;
        color: #EBFDFB;
        font-size: 7vh;
    }
    .wind{
        display: flex;
        padding-left: 1vh;
    }
    .wind img{
        display: none;
        height: 4vh;
    }
    .wind .speed{
        display: none;
        color: #EBFDFB;
        text-align: center;
        margin-left: 1vh;
    }
    .speed h3{
        display: none;
        font-size: 2.5vh;
    }
    .speed p{
        display: none;
        font-size: 1.8vh;
    }
    .last{
        display: none;
        display: flex;
    }
    .humidity img{
        display: none;
        height: 4vh;
    }
    .humidity{
        display: none;
        display: flex;
        padding-right: 0vh;
    }
    .speed1 h3{
        display: none;
        font-size: 2.5vh;
        color: #EBFDFB;
    }
    .speed1 p{
        display: none;
        font-size: 2.5vh;
        color: #EBFDFB;
    }
    .speed1{
        margin-left: 2vh;
    }
    .hero1 {
        margin-top: 6vh;
        display:flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }
    .hero2{
        margin-top: 3vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .tempmax{
        display: none;
        color: white;
        font-size: 4vh;
        text-align: center;
    }
    .tempmin{
        display: none;
        color: white;
        font-size: 4vh;
        text-align: center;
    }
    .hero3{
        position: relative;
        left: 2vh;
        display: flex;
        justify-content: space-evenly;
        margin-top: 5vh;
        text-align: center;
        align-items: center;
        color: white;
    }
    .presure p{
    
    }
    .cn{

        font-size: 2vh;
        font-weight: 900;
    }
    
    .coun{
        font-size: 3vh;
    }
    
    .np{
        font-size: 2vh;
       
    }
    .fl{
        
        font-size: 2vh;
    }
    .feelslike p{
        font-size:4vh;
    }
    .copyr{
        text-align: center;
        color: white;
        margin-top: 5vh;
    }
}